:root {
  --light: #fff;
  --dark: #161e2e;
  --teal: #16bdca;
  --gray-dark: #161e2e;
  --gray-light: #6b7280;
  --gray-lighter: #9fa6b2;
  --gray-50: #f9fafb;
  --gray-100: #f4f5f7;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
}

@supports (font-variation-settings: normal) {
  body {
    font-family:
      'Inter var',
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.main {
  color: var(--light);
  background-color: var(--dark);
}

/** Sections */
.section {
  padding-top: 4em;
  padding-bottom: 4em;
}

.section-header--content {
  text-align: center;
}

.section-header--secondary-title {
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-weight: 400;
}

.section-header--title {
  margin-top: 2.25rem;
  line-height: 1;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.02rem;
}

.section-header--lead {
  line-height: 1.75rem;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

.section-content {
  margin-top: 4rem;
  padding-bottom: 3rem;
}

@media (min-width: 640px) {
  .section-header--title {
    font-size: 2.6rem;
  }
}

@media (min-width: 1024px) {
  .section-header--title {
    font-size: 3.2rem;
  }

  .section-header--lead {
    font-size: 1.3rem;
    line-height: 2rem;
    max-width: 48rem;
  }

  .section-content {
    margin-top: 5rem;
  }
}

/** Pricing table */
.pricing-table--section-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  max-width: 32rem;
}

@media (min-width: 1024px) {
  .pricing-table--section-wrapper {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.pricing-table--section-wrapper.popular {
  z-index: 20;
}

.pricing-table--section {
  background-color: var(--light);
  border-radius: 0.5rem;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  color: var(--gray-dark);
  position: relative;
  z-index: 10;
}

.pricing-table--section.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--teal);
  border-radius: 0.5rem;
  pointer-events: none;
}

.pricing-table--section-highlight {
  display: flex;
  justify-content: center;
  transform: translateY(-3.2rem);
}

.pricing-table--section-head {
  background-color: var(--light);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.5rem;
}

.pricing-table--section-label {
  background-color: var(--teal);
  text-transform: uppercase;
  color: var(--light);
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  display: inline-flex;
  border-radius: 100em;
}

.pricing-table--section-name {
  color: var(--dark);
  text-align: center;
  margin-top: 0.5rem;
  line-height: 2.25rem;
  font-size: 1.875rem;
  font-weight: 600;
}

.pricing-table--section-price--wraper {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.pricing-table--section-price {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.025em;
  color: var(--dark);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  line-height: 1;
  font-size: 4rem;
  font-weight: 500;
  width: 100%;
}

.pricing-table--section-price--sign {
  letter-spacing: -0.025em;
  font-size: 2.25rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
}

.pricing-table--section-price--value {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.pricing-table--section-period {
  color: var(--gray-light);
  letter-spacing: 0.025em;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 640px) {
  .pricing-table--section-price {
    font-size: 4.2rem;
  }

  .pricing-table--section-period {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.pricing-table--section-body {
  border-top: 2px solid var(--gray-100);
  background-color: var(--gray-50);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.pricint-table--section-features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pricint-table--section-features > * + * {
  margin-top: 0.75rem;
}

.pricint-table--section-features li {
  display: flex;
  align-items: flex-start;
}

.pricint-table--section-feature--icon {
  flex-shrink: 0;
  margin-top: 0.2rem;
}

.pricint-table--section-feature--icon svg {
  color: var(--teal);
  height: 1rem;
  width: 1rem;
}

.pricint-table--section-feature--name {
  color: var(--gray-dark);
  margin-left: 0.75rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.pricing-table--section-footer {
  margin-top: 2.5rem;
}

.pricing-table--section-actions {
  display: flex;
  align-items: center;
}

.pricing-table--section-action {
  display: block;
  border-radius: 0.5rem;
  color: var(--teal);
  text-align: center;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
}

.highlight .pricing-table--section-action {
  background-color: var(--teal);
  color: var(--light);
}

@media (min-width: 640px) {
  .pricing-table--section-content {
    padding-top: 2.5rem;
  }

  .pricing-table--section-body {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .pricint-table {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .pricing-table--section-wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .pricing-table--section-wrapper.popular {
    grid-row-end: 4;
    grid-row-start: 1;
    grid-column-end: 8;
    grid-column-start: 4;
  }

  .pricing-table--section-wrapper.first,
  .pricing-table--section-wrapper.last {
    grid-row-end: 3;
    grid-row-start: 2;
  }

  .pricing-table--section-wrapper.first {
    grid-column-end: 4;
    grid-column-start: 1;
  }

  .pricing-table--section-wrapper.first .pricing-table--section {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .pricing-table--section-wrapper.last {
    grid-column-end: 11;
    grid-column-start: 8;
  }

  .pricing-table--section-wrapper.last .pricing-table--section {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
